<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <h1>The Home page <%='hello'.toUpperCase()%>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident laudantium reprehenderit amet nobis
                hic
                molestiae voluptates temporibus soluta cumque expedita? Ab harum voluptatibus sapiente molestiae hic
                fuga fugiat
                deserunt veniam?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellendus in soluta maxime. Amet vel
                excepturi
                esse, unde facere assumenda reiciendis repudiandae molestiae! Vitae quo inventore explicabo ipsam
                eveniet
                voluptate?</p>
            <%- include('partials/footer') %>

    </body>

</html>